Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

.circleci/config.yml:

version: 2.1

# Allow dynamic configuration for the project
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/grc-stamp/.* run-build-grc-stamp true
            packages/grc-stamp-frontend/.* run-build-grc-stamp-frontend true
          base-revision: master
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

refactor: remove unused class names
  packages/maintenance/index.html
Due: none

feat(upgrade): upgrade node and dependncies
  .nvmrc
  packages/grc-stamp/.eslintrc.js
  packages/grc-stamp/.nvmrc
  packages/grc-stamp/.vscode/settings.json
  packages/grc-stamp/Dockerfile
  packages/grc-stamp/Dockerfile.prod
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
  packages/grc-stamp/prisma/schema.prisma
  packages/grc-stamp/src/api.ts
  packages/grc-stamp/src/controllers/BaseController.ts
  packages/grc-stamp/src/presenters/balance.presenter.ts
  packages/grc-stamp/src/presenters/stamp.presenter.ts
  packages/grc-stamp/src/presenters/status.presenter.ts
  packages/grc-stamp/src/presenters/types.ts
  packages/grc-stamp/src/presenters/wallet.presenter.ts
  packages/grc-stamp/tests/integration/helpers.ts
  packages/grc-stamp/tests/integration/stamps.spec.ts
  packages/grc-stamp/tests/integration/wallet.spec.ts
Due: run-build-grc-stamp

ci(node): upgrade node version used for running integration tests
  .circleci/continue_config.yml
Due: none

ci(mysql): upgrade deprecated mysql cimg image
  .circleci/continue_config.yml
Due: none

fix: increase blocks number to process all at once to 1500
  packages/grc-stamp/src/config.ts
Due: run-build-grc-stamp

chore(release): 1.1.0
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  51a14f5a6d776188aab2c34e04c4c35029563de0
Due: none

ci(circleci): ignore branch ignore rule
  .circleci/continue_config.yml
Due: none

refactor: small refactor
  packages/grc-stamp/tests/integration/hash.spec.ts
Due: run-build-grc-stamp

ci(circleci): run build jobs as unconiditional
  .circleci/continue_config.yml
Due: none

chore(release): 1.1.1
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  9a9bb054aa53f01ad212f176bd88741800da2df1
Due: none

chore(worker): add maintenance page cloudflare worker
  packages/workers/maintenance-page/.editorconfig
  packages/workers/maintenance-page/.eslintignore
  packages/workers/maintenance-page/.eslintrc.js
  packages/workers/maintenance-page/.gitignore
  packages/workers/maintenance-page/.nvmrc
  packages/workers/maintenance-page/.prettierrc
  packages/workers/maintenance-page/package-lock.json
  packages/workers/maintenance-page/package.json
  packages/workers/maintenance-page/src/index.ts
  packages/workers/maintenance-page/test/index.spec.ts
  packages/workers/maintenance-page/test/tsconfig.json
  packages/workers/maintenance-page/tsconfig.json
  packages/workers/maintenance-page/vitest.config.ts
  packages/workers/maintenance-page/worker-configuration.d.ts
  packages/workers/maintenance-page/wrangler.toml
Due: none

feat: update config
  .circleci/config.yml
  .circleci/continue_config.yml
  packages/grc-stamp-frontend/.vscode/settings.json
Due: run-build-grc-stamp-frontend

refactor: remove empty test
  packages/grc-stamp/tests/unit/services/Scraper.spec.ts
Due: run-build-grc-stamp

chore: adjust unit test matcher
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

test: introduce unit test for the schema
  packages/grc-stamp/src/controllers/schemas/StampSchema.spec.ts
  packages/grc-stamp/src/controllers/schemas/StampSchema.ts
Due: run-build-grc-stamp

test: add units for base controller
  packages/grc-stamp/src/controllers/BaseController.spec.ts
  packages/grc-stamp/src/controllers/BaseController.ts
Due: run-build-grc-stamp

test: add units for hash controller
  packages/grc-stamp/src/controllers/HashController.spec.ts
  packages/grc-stamp/src/controllers/HashController.ts
Due: run-build-grc-stamp

refactor: fix types
  packages/grc-stamp/src/controllers/HashController.spec.ts
Due: run-build-grc-stamp

test: add stamp controller tests
  packages/grc-stamp/src/controllers/StampsController.spec.ts
  packages/grc-stamp/src/controllers/StampsController.ts
Due: run-build-grc-stamp

refactor: controller creation
  packages/grc-stamp/src/controllers/StampsController.spec.ts
Due: run-build-grc-stamp

test: status controller test
  packages/grc-stamp/src/controllers/StatusController.spec.ts
Due: run-build-grc-stamp

test: add unit tests for wallet controller
  packages/grc-stamp/src/controllers/WalletController.spec.ts
Due: run-build-grc-stamp

test: add tests for errorModel
  packages/grc-stamp/src/controllers/StampsController.spec.ts
  packages/grc-stamp/src/controllers/WalletController.spec.ts
  packages/grc-stamp/src/models/ErrorModel.spec.ts
Due: run-build-grc-stamp

test: add test for stamp model
  packages/grc-stamp/src/models/Stamp.spec.ts
Due: run-build-grc-stamp

test: add unit test for wallet model
  packages/grc-stamp/src/models/Wallet.spec.ts
Due: run-build-grc-stamp

test: add stamps repository test
  packages/grc-stamp/src/controllers/BaseController.ts
  packages/grc-stamp/src/repositories/StampsRepository.spec.ts
  packages/grc-stamp/src/repositories/StampsRepository.ts
Due: run-build-grc-stamp

test: add test for wallet repository
  packages/grc-stamp/src/repositories/WalletRepository.spec.ts
Due: run-build-grc-stamp

test: add scraper test
  packages/grc-stamp/src/services/Scraper.spec.ts
  packages/grc-stamp/src/services/Scraper.ts
Due: run-build-grc-stamp

test: add tests for stamp service
  packages/grc-stamp/src/services/StampService.spec.ts
Due: run-build-grc-stamp

test: adjust integration tests
  packages/grc-stamp/package.json
  packages/grc-stamp/tests/integration/hash.test.ts
  packages/grc-stamp/tests/integration/stamps.list.test.ts
  packages/grc-stamp/tests/integration/stamps.test.ts
  packages/grc-stamp/tests/integration/wallet.test.ts
Due: run-build-grc-stamp

chore: upgrade node version to 22
  .gitignore
  .nvmrc
  packages/grc-stamp-frontend/.nvmrc
  packages/grc-stamp-frontend/Dockerfile
  packages/grc-stamp/.dockerignore
  packages/grc-stamp/.nvmrc
  packages/grc-stamp/Dockerfile
  packages/grc-stamp/Dockerfile.prod
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

ci: update dependencies
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

ci: update orb
  .circleci/config.yml
Due: none

ci: split config per package
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/grc-stamp-frontend.yml
  .circleci/grc-stamp.yml
Due: none

Revert "ci: split config per package"
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/grc-stamp-frontend.yml
  .circleci/grc-stamp.yml
Due: none

chore: introduce nx
  .gitignore
  .syncpackrc.json
  lerna.json
  nx.json
  package-lock.json
  package.json
  packages/grc-stamp-frontend/.eslintrc.js
  packages/grc-stamp-frontend/.gitignore
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/project.json
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/components/Stamps/Recent.tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash].tsx
  packages/grc-stamp-frontend/src/routes/maintenance/MaintananceWrapper.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Errors/Errors.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Instructions/Instructions.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/BlockchainData.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/FilePreview.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Upload/Upload.tsx
  packages/grc-stamp/.eslintignore
  packages/grc-stamp/.gitignore
  packages/grc-stamp/Dockerfile
  packages/grc-stamp/Dockerfile.prod
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
  packages/grc-stamp/prisma/schema.prisma
  packages/grc-stamp/project.json
  packages/grc-stamp/src/controllers/HashController.spec.ts
  packages/grc-stamp/src/controllers/HashController.ts
  packages/grc-stamp/src/lib/prisma.ts
  packages/grc-stamp/tests/integration/helpers.ts
  packages/grc-stamp/tsconfig.json
  packages/workers/maintenance-page/package.json
  packages/workers/maintenance-page/project.json
  packages/workers/maintenance-page/tsconfig.tsbuildinfo
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

fix: fix imports for the frontend
  .circleci/continue_config.yml
  packages/grc-stamp-frontend/.eslintrc.js
  packages/grc-stamp-frontend/next.config.js
  packages/grc-stamp-frontend/src/components/Footer/Balance.tsx
  packages/grc-stamp-frontend/src/components/Footer/Footer.tsx
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/components/Info/StampBlockchainData.tsx
  packages/grc-stamp-frontend/src/components/Stamps/Recent.tsx
  packages/grc-stamp-frontend/src/components/Stamps/StampsList.tsx
  packages/grc-stamp-frontend/src/pages/about.tsx
  packages/grc-stamp-frontend/src/pages/index.tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash].tsx
  packages/grc-stamp-frontend/src/repositories/StampsRepository.ts
  packages/grc-stamp-frontend/src/repositories/StatusRepository.ts
  packages/grc-stamp-frontend/src/repositories/WalletRepository.ts
  packages/grc-stamp-frontend/src/routes/about/index.tsx
  packages/grc-stamp-frontend/src/routes/maintenance/MaintananceWrapper.tsx
  packages/grc-stamp-frontend/src/routes/maintenance/index.tsx
  packages/grc-stamp-frontend/src/routes/not-found/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Instructions/Instructions.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/BlockchainData.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/Progress.tsx
  packages/grc-stamp-frontend/src/routes/notarize/actions.ts
  packages/grc-stamp-frontend/src/routes/notarize/index.tsx
  packages/grc-stamp-frontend/src/routes/proof/index.tsx
  packages/grc-stamp-frontend/test/repositories/StampsRespositoy.spec.ts
  packages/grc-stamp-frontend/test/repositories/WalletRepository.spec.ts
  packages/grc-stamp-frontend/test/routes/notarize/actions.spec.ts
  packages/grc-stamp-frontend/tsconfig.json
Due: run-build-grc-stamp-frontend

test: adjust tests runners settings
  .circleci/continue_config.yml
  package.json
  packages/grc-stamp-frontend/jest.config.js
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/project.json
  packages/grc-stamp/project.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend
